* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
}
nav {
    background-color: #698a20;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    font-size: 1.5rem;
    height: 100px
}

nav a {
    margin: 0 3rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-bar-logo {
    width: 100px;
    height: auto;
    padding-top: 0;
    margin-top: 0;
}

.favicon {
    width: 100px;
    height:auto;
}

.nav-tabs {
    display: flex;
    margin: 0 2;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: none;
}

h1 {
    text-align: center;
    margin-top: 1.5rem;
    color: #95b43d;
    margin-bottom: 0;
    font-size: 55px;
    padding: 0;
    font-weight: 800;
    display: block;
}

nav a.active {
    color: #2e7d32;
}

footer {
    background-color: #698a20;
    text-align: left;
    padding: 1rem;
    padding-left: 2rem;
    color: white;
}
footer p{
    line-height: 1.5rem;
}

/* Map Page*/

.about-container {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: #bed198;
    border-radius: 20px;
}

h2 {
    text-align: left;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 800;
}

.about p {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-size: 18;
    text-align: left;
    line-height: 1.4;
}

.how-to-use-container {
    display: flex;
    margin: 3rem;
    border: 5px solid #bed198;
    border-radius: 20px;
    justify-content: flex;
}

.how-to-use-container h2 {
    padding-left: 0rem;
}

.how-to-use {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 18;
    text-align: left;
    line-height: 1.4;
}

.how-to-use ul {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.how-to-use li {
    padding-bottom: 0.5rem;
}
.bold-term {
    font-weight: bold;
    color: #698a20;
}
.search-container {
    width: 30%;
    padding: 1rem;
    background-color: #F6E9B2;
    overflow-y: auto;
}

.search-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.map {
    margin: 1rem;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Homepage */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}
.homepage-header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 200px;
    height: 250px;
    margin-bottom: 0;

}
.homepage-header h1 {
    margin-top: 0;
}

.intro-container {
    display: flex;
    justify-content: space-between;
}
.intro .left-column {
    margin-right: 5rem;
    margin-left: 0rem;
}
.intro img {
    width: 600px;

}

.intro {
    text-align: center;
}

.intro p {
    font-size: 22px;
    text-align: left;
    padding-top: 4rem;
    line-height: 1.4;
}

button .get-started {
    background-color: #1b5e20;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #155d1a;
}


.logo {
    text-align: center;
    margin: -200px 0;
}

.logo img {
    max-width: 70%;
    margin-left: 450px;
    height: auto;
    display: block;
}

/* Search Form */

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: inline-block;
}

.search-form-results-container {
    margin-top: 1rem;
    border: 1px solid #ced4da;
    border-radius: 20px;
    justify-content: center;
}
.search-form-results {
    margin: 1rem;
}
.search-form-results p {
    color:#698a20;
    font-weight: bold;
    font-size: 18;
}

.search-form-results h3 {
    text-align: center;
    font-weight: 800;
    color:#698a20;
}
.no-search-results p {
    text-align: center;
    color: black;
    font-weight: normal;
}
.checkbox-container {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.form-check img {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 0.5rem;
}

.checkbox-image-container input[type="checkbox"] {
    display: block;
    margin: 1rem auto; 
}
.checkbox-image-container label {
    display: block;
    text-align: center;
    margin-top: 0.5rem; 
}

/* results list */

.results-container {
    display: flex;
    flex-direction: column;
}
.results-item-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: white;
    border: 4px  solid #95b43d;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px #95b43d;
}
.results-image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.results-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.results-item-info h3 {
    margin: 0;
    font-weight: bold;
}
.results-item-info p {
    margin: 0.5rem 0;
    color: #698a20;
    font-size: 30px


}

.results-info-h4 {

}
.results-item-info .discount {
    margin: 0;
    padding: 0.5rem;
    background-color:#F6E9B2; 
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 1rem;

}
.results-item-info .discount p {
    margin: 0;
    color: red;
    font-size: 18px;
}
#Results-List h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    display: block;
}